@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* * {
    font-family: Merriweather sans-serif ;
} */
/* *{
    margin: 0px;
    border: 0px;
} */
header {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px 120px 140px 140px;
    align-items: center;
    justify-content: center;
}

.banner {
    background-image: url('images/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
}

.banner {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    margin: 41px auto;
    padding-top: 146px;
    padding-bottom: 10px;
}

.title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    padding-bottom: 146px;
    /* width: 632px;
    height: 190px;
    align-items: center; */
}

/* main */
.section-one {
    align-items: center;
}

.discount h2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
}

.discount p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.discount h3 {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
}

.new-year-photo {
    margin-left: auto;
    margin-right: auto;
    width: 30%px;
}

.new-year-photo:hover {
    border: solid blue;
}

/* welcom section */
.welcome {
    background-image: url('images/Group\ 70.png'), url('images/Vectorrr.png');
    background-repeat: no-repeat;
    margin:120px 140px;

}

.welcome {
    margin-top: 120px auto;
    padding: 126px 150px 24px 126px;
}

.welcome h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    letter-spacing: 7.04px;
}

.welcome p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* section 2 */
.container {
    background-color:antiquewhite;   
    margin:120px 140px;
}

.container .text p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    padding: 120px 380px 48px 380px;
    text-align: center;
}

.container .text span {
    color: #F00;
}

.container button {
    padding: 16px 32px;
    background-color: #F00;
    font-size: 20px;
    margin: 0px 200px 110px 380px;
}
/* section-4 */
.section-four{
    display: flex;
    width: 82.5%;
    max-width: 1320px;
    margin: 50px 120px 140px 140px;
    background-color: aquamarine;

}
.section-four .part-1 h3{
    color: #F00;
    font-size: 24px;
}
.section-four .part-1 h2{
    font-size: 48px;
}
.section-four p{
    font-size: 20px;
}
.ellips-pic{
    border:15px solid red;
    border-radius: 50%;
    padding: 20px;

}
.section-four .part-3 .year{
    color: #F00;
    font-size: 48px;
}